<!DOCTYPE html>
<html lang="en">
<head th:replace="allemployee.html :: head('Add employee')">
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
    <div class="container-fluid">             
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/employee" th:text="#{trang_dau}">Trang đầu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employee/add" th:text="#{them_moi}">Thêm mới</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/employee/search" th:text="#{tim_kiem}">Tìm kiếm</a>
          </li>
          </ul>
          <ul class="navbar-nav d-flex">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/employee/add/?lang=en}">English</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/employee/add/?lang=vn}">Vietnamese</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/employee/add/?lang=jp}">Japanese</a>
            </li>   
          </ul>
        
      </div>
    </div>
  </nav>


    <form class="col-3 row my-5 m-5" th:action="@{/employee/save}" th:object="${employee}" method="post"  novalidate = "novalidate" enctype="multipart/form-data" >
        <input type="hidden" placeholder="id" th:field="*{id}"/><br><br>
        <div class="form-group">
          <label for="firstName"></label>
          <input type="text" th:field="*{firstName}" class="form-control" id="firstName" th:placeholder = "#{First_Name}">
          <div class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>
        <div class="form-group">
          <label for="lastName"></label>
          <input type="text" th:field="*{lastName}" class="form-control" id="lastName" th:placeholder="#{Last_Name}">
          <div class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>
        <div class="form-group">
            <label for="email"></label>
            <input type="text" th:field="*{email}" class="form-control" id="email" th:placeholder="#{Email}">
            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
          </div>
          <div class="form-group">
            <label for="passportNumber"></label>
            <input type="text" th:field="*{passportNumber}" class="form-control" id="passportNumber" th:placeholder="#{Passport}">
            <div class="text-danger" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}">Name Error</div>
          </div>

          <div class="form-group">
            <label for="photo"></label>
            <div class="col-sm-9">
              <input type="file" class="form-control"th:field="*{photo}" />
            </div>
            <div class="text-danger"  th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}">Upload Error</div>
          </div>          

          <div class="form-group">
            <br/>
            <button type="submit" class="btn btn-primary" th:text ="#{Submit}"></button>
          </div>

         
      </form>

    <!-- <form action="#" th:action="@{/employee/save}" th:object="${employee}" method="post" novalidate = "novalidate">
        <input type="hidden" placeholder="id" th:field="*{id}"/><br><br>
        <input type="text" placeholder="firts name" th:field="*{firstName}"/><br><br>
        <input type="text" placeholder="last name" th:field="*{lastName}"/><br><br>
        <input type="text" placeholder="email" th:field="*{email}"/><br><br>
        <input type="text" placeholder="passport" th:field="*{passportNumber}"/><br><br>
        <button type="submit">Save</button>
    </form> -->
    <footer th:replace="allemployee.html :: footer"></footer>

</body>
</html>