<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <form action="#" th:action="@{/employee/save}" th:object="${employee}" method="post" novalidate = "novalidate">
        <input type="hidden" placeholder="id" th:field="*{id}"/><br><br>
        <input type="text" placeholder="firts name" th:field="*{firstName}"/><br><br>
        <input type="text" placeholder="last name" th:field="*{lastName}"/><br><br>
        <input type="text" placeholder="email" th:field="*{email}"/><br><br>
        <input type="text" placeholder="passport" th:field="*{passportNumber}"/><br><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>