<!DOCTYPE html>
<html lang="en">
<head th:replace="allemployee.html :: header('Tìm kiếm')">
</head>
<body>

    <div class="row my-5">
        <form th:action="@{/employee/search}" th:object="${searchrequest}" method="post" novalidate="novalidate">
            <div class="col-6 d-flex">
                <button type="submit" class="btn btn-primary mx-3">Search</button>
                <input type="text" th:field="*{keyword}" placeholder="type keyword here" name="name"/><br><br>
            </div>
        </form>
    </div>

    <footer th:replace="allemployee.html :: footer"></footer>

</body>
</html>