# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\01_DEMO\JAVA_CORE\CTDL&GT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
